<!-- Default Statcounter code for Personal Website
https://beliciataylor.github.io/ -->
<script type="text/javascript">
    var sc_project=12331307; 
    var sc_invisible=0; 
    var sc_security="2070e5c9"; 
    var sc_https=1; 
    var scJsHost = "https://";
    document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="https://statcounter.com/" target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/12331307/0/2070e5c9/0/" alt="Web
    Analytics"></a></div></noscript>
    <!-- End of Statcounter Code -->